.center-container {
  text-align: center;
}
.center-wrapper {
  display: inline-block;
}
.loading {
  margin: 10px;
}
.collector-sidebar {
  background-color: #efefef;
}
.invalid.card{
  border-color: red;
}